In [1]:
import math
import datetime
from dateutil import relativedelta
import calendar
import time
from functools import wraps
import json
import gc

import pandas as pd
import numpy as np

from flask import Flask, render_template, request, Blueprint, Response, send_file, send_from_directory
from flask_cors import CORS

In [69]:
# Added Libraries
from flask import Flask, jsonify
from flask_sqlalchemy import SQLAlchemy
import psycopg2.extras

from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import create_engine
import pandas as pd
import datetime
import calendar
from dateutil import relativedelta

In [70]:
# !pip install flask_sqlalchemy

In [91]:
#database uri
DATABASE_URI = "postgresql://mdhammadakram:hellothere@localhost/mdhammadakram"

In [226]:
def get_db_connection():
    conn = psycopg2.connect(
        host='localhost',
        database='mdhammadakram',
        user='mdhammadakram',
        password='hellothere',
        port = '5432'
    )
    return conn

In [71]:
# # ... (existing imports)

# # Import the required library for PostgreSQL

# # ... (existing code)

# def get_db_connection():
#     conn = psycopg2.connect(
#         host='localhost',
#         database='mdhammadakram',
#         user='mdhammadakram',
#         password='hellothere',
#         port='-1'
#     )
#     return conn

# # ... (existing code)

# @app.route('/cities')
# def index():
#     conn = get_db_connection()
#     cur = conn.cursor(cursor_factory=psycopg2.extras.RealDictCursor)  # Use RealDictCursor for a dictionary-like cursor
#     cur.execute('SELECT * FROM popular_cities;')
#     cities = cur.fetchall()
#     cur.close()
#     conn.close()

#     # Now 'cities' will be a list of dictionaries representing rows from the 'popular_cities' table
#     print(cities)
#     return jsonify(cities)  # You may need to import 'jsonify' from Flask

# # ... (existing code)

In [243]:
conn = get_db_connection()
cur = conn.cursor(cursor_factory=psycopg2.extras.RealDictCursor)  # Use RealDictCursor for a dictionary-like cursor
cur.execute('SELECT * FROM userexport;')
cities = cur.fetchall()

In [244]:
cities_df = pd.DataFrame(cities)
cities_df.head()

   member_id  gender date_of_birth            income marital_status             caste   sect    highest_education        employed                       occupation permanent_country permanent_state permanent_city  gallery membership  status  lastonline
0        230  Female    1971-07-25  Rs. 10 - 12 Lakh  Never Married             Abdal   Shia                 B.Ed  Civil Services  Civil Services (IAS/ IPS/ IRS/)             India           Bihar      Darbhanga        1    Premium       1           0
1        270  Female    1988-04-20              None  Never Married              None  Sunni                 B.Ed            None                             None             India           Delhi      New Delhi        1       Free       1           0
2        282    Male    1991-09-01   Rs. 7 - 10 Lakh  Never Married              Syed  Sunni  B.Pharm / B.Pharma.  Private Sector   Medical/ Healthcare Profession             India   Uttar Pradesh         Budaun        1       Free       1           0
3        325    Male    1989-11-19              None  Never Married  Sheikh or Shaikh  Sunni               B.Com.            None                             None             India   Uttar Pradesh        Lucknow        1       Free       1           0
4        329  Female    1996-12-22              None  Never Married              Syed  Sunni                 B.A.     Not Working                           Others             India           Bihar           Gaya        0       Free       1           0

In [75]:
cities[4]['permanent_city']

'Lucknow'

In [78]:
# just looking at the columns
newInterestExport = pd.read_feather('newInterestExport.feather')
newInterestExport.dtypes

sender_id      int32
receiver_id    int32
timestamp      int64
isAccepted      int8
dtype: object

In [257]:
userExport = pd.read_feather('userExport.feather')
userExport.dtypes

member_id              int64
gender                object
date_of_birth        float64
income                object
marital_status        object
caste                 object
sect                  object
highest_education     object
employed              object
occupation            object
permanent_country     object
permanent_state       object
permanent_city        object
gallery              float64
membership            object
status               float64
lastonline           float64
dtype: object

In [156]:
userExport.head()

,member_id,gender,date_of_birth,income,marital_status,caste,sect,highest_education,employed,occupation,permanent_country,permanent_state,permanent_city,gallery,membership,status,lastonline
0,230,Female,979151400.0,Rs. 10 - 12 Lakh,Never Married,Abdal,Shia,B.Ed,Civil Services,Civil Services (IAS/ IPS/ IRS/,India,Bihar,Darbhanga,1.0,Premium,1.0,1.701499e+09
1,270,Female,585945000.0,nan,Never Married,nan,Sunni,B.Ed,nan,nan,India,Delhi,New Delhi,1.0,Free,1.0,1.674931e+09
2,282,Male,682799400.0,Rs. 7 - 10 Lakh,Never Married,Syed,Sunni,B.Pharm / B.Pharma.,Private Sector,Medical/ Healthcare Profession,India,Uttar Pradesh,Budaun,1.0,Free,1.0,1.703057e+09
3,325,Male,649017000.0,nan,Never Married,Sheikh or Shaikh,Sunni,B.Com.,nan,nan,India,Uttar Pradesh,Lucknow,1.0,Free,1.0,1.663007e+09
4,329,Female,832962600.0,nan,Never Married,Syed,Sunni,B.A.,Not Working,Others,India,Bihar,Gaya,0.0,Free,1.0,1.666550e+09

In [258]:
# Assuming 'date_of_birth' is a Pandas Series in your DataFrame
userExport['date_of_birth'] = userExport['date_of_birth'].apply(lambda x: datetime.datetime.utcfromtimestamp(x).date())

In [259]:
print(userExport['date_of_birth'].head())

0    2001-01-10
1    1988-07-26
2    1991-08-21
3    1990-07-26
4    1996-05-24
Name: date_of_birth, dtype: object

In [261]:
userExport['lastonline'] = userExport['lastonline'].apply(lambda x: datetime.datetime.utcfromtimestamp(x).date())

In [262]:
userExport.head()

   member_id  gender date_of_birth            income marital_status             caste   sect    highest_education        employed                      occupation permanent_country permanent_state permanent_city  gallery membership  status  lastonline
0        230  Female    2001-01-10  Rs. 10 - 12 Lakh  Never Married             Abdal   Shia                 B.Ed  Civil Services  Civil Services (IAS/ IPS/ IRS/             India           Bihar      Darbhanga      1.0    Premium     1.0  2023-12-02
1        270  Female    1988-07-26               nan  Never Married               nan  Sunni                 B.Ed             nan                             nan             India           Delhi      New Delhi      1.0       Free     1.0  2023-01-28
2        282    Male    1991-08-21   Rs. 7 - 10 Lakh  Never Married              Syed  Sunni  B.Pharm / B.Pharma.  Private Sector  Medical/ Healthcare Profession             India   Uttar Pradesh         Budaun      1.0       Free     1.0  2023-12-20
3        325    Male    1990-07-26               nan  Never Married  Sheikh or Shaikh  Sunni               B.Com.             nan                             nan             India   Uttar Pradesh        Lucknow      1.0       Free     1.0  2022-09-12
4        329  Female    1996-05-24               nan  Never Married              Syed  Sunni                B.A.      Not Working                          Others             India           Bihar           Gaya      0.0       Free     1.0  2022-10-23

In [170]:
len(userExport['date_of_birth'].unique())

16977

In [17]:
import scripts

In [23]:
app = Flask(__name__)
CORS(app)


# some_file.py
import sys
# caution: path[0] is reserved for script path (or '' in REPL)
sys.path.insert(1, '/Users/mdhammadakram/Desktop/Files/flask_recommendation_testing/scripts')

import utils
# from scripts.utils import Timer, performWithFileLock

from utils import Timer, performWithFileLock

In [25]:
import  logging

In [26]:
def setup_logger(log_file, log_level=logging.DEBUG):
    # Create a logger
    logger = logging.getLogger("MyLogger")

    # Set the log level
    logger.setLevel(log_level)

    # Create a file handler that logs to the specified file
    file_handler = logging.FileHandler(log_file)
    file_handler.setLevel(log_level)

    # Create a console handler that logs to the console
    console_handler = logging.StreamHandler()
    console_handler.setLevel(log_level)

    # Create a formatter to format the log messages
    log_format = logging.Formatter(
        "%(asctime)s - %(name)s - %(levelname)s - %(message)s",
        datefmt="%Y-%m-%d %H:%M:%S",
    )

    # Set the formatter for both handlers
    file_handler.setFormatter(log_format)
    console_handler.setFormatter(log_format)

    # Add the handlers to the logger
    logger.addHandler(file_handler)
    logger.addHandler(console_handler)

    return logger

In [98]:
logger = setup_logger("my_logfile.log", logging.DEBUG)

def topLevelCatcher(action_func):
    @wraps(action_func)
    def wrapper(*args, **kwargs):
        global logger
        try:
            return action_func(*args, **kwargs)
        except Exception as e:
            logger.error(e)
            return f'Internal Error: {e}', 400
    return wrapper

# UPDATION_URI = 'userUpdation.csv'
USERS_URI = 'userExport.feather'
INTEREST_URI = 'newInterestExport.feather'

# UPDATED_USERS_COLUMN_FORMAT = performWithFileLock(UPDATION_URI, lambda: pd.read_csv(UPDATION_URI, nrows=0).columns.tolist())
# def addUpdation(updatedUser : pd.DataFrame) -> None:
#     performWithFileLock(UPDATION_URI, lambda : updatedUser.drop(columns=['lastActiveDate', 'monthYear'])[UPDATED_USERS_COLUMN_FORMAT].to_csv(UPDATION_URI, mode='a', index=False, header=False))

USER_ACTIVATION_FILE = 'userActivation.list'  


# We are writing here in the database:
def activateUser(member_id : int):
    def activationFunc():
        try:
            with open(USER_ACTIVATION_FILE, 'a') as file:
                file.write(str(member_id) + '\n')
                print(str(member_id) + '\n')
        except FileNotFoundError:
            with open(USER_ACTIVATION_FILE, 'w') as file:
                file.write(str(member_id) + '\n')
    performWithFileLock(USER_ACTIVATION_FILE, activationFunc)
# activateUser(227)

### Equivalent code to write the data in the database:

In [90]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session


def activateUserInDatabase(member_id: int):
    def activationFunc(session: Session):
        try:
            # Assuming you have a "UserActivation" table in your database
            activation_data = {"member_id": member_id}
            stmt = text("INSERT INTO UserActivation (member_id) VALUES (:member_id)")
            session.execute(stmt, activation_data)
            session.commit()
            print(str(member_id) + '\n')
        except Exception as e:
            session.rollback()  # Rollback changes in case of an error
            print(f"Error: {e}")

    engine = create_engine(DATABASE_URI)
    with engine.connect() as connection:
        with Session(connection) as session:
            activationFunc(session)

# Example usage:
# activateUserInDatabase(123)

In [215]:
USER_CATEGORY_LIMITS = {
 'caste': 100,
 'employed': 20,
 'highest_education': 100,
 'income': 30,
 'occupation': 100,
 'permanent_country': 100,
 'permanent_state': 100,
 'sect': 20,
}
from dateutil.relativedelta import relativedelta


def getReducedUsers():
    reducedUsers = performWithFileLock(USERS_URI, lambda : pd.read_feather(USERS_URI))
    
    for col, limit in USER_CATEGORY_LIMITS.items():
        allowedVals = reducedUsers[col].value_counts().nlargest(limit).index
        reducedUsers.loc[~reducedUsers[col].isin(allowedVals), col] = 'Others'

    reducedUsers['lastActiveDate'] = reducedUsers.lastonline.apply(datetime.date.fromtimestamp)
    reducedUsers['monthYear'] = (
        reducedUsers.lastonline.apply(lambda x: datetime.date.fromtimestamp(x).year).astype(str) +
        " " +
        reducedUsers.lastonline.apply(lambda x: datetime.date.fromtimestamp(x).month).astype(str) +
        " (" +
        reducedUsers.lastonline.apply(lambda x: calendar.month_abbr[datetime.date.fromtimestamp(x).month]).astype(str) +
        ")"
    )
    reducedUsers.dtypes
    today = datetime.date.today()
    reducedUsers['age'] = reducedUsers.date_of_birth.apply(lambda x: relativedelta(today, datetime.date.fromtimestamp(x)).years)
    reducedUsers.drop(columns=['date_of_birth', 'permanent_country', 'permanent_city'], inplace=True)
    return reducedUsers

res = getReducedUsers()
print(res.dtypes)
res.head()

member_id              int64
gender                object
income                object
marital_status        object
caste                 object
sect                  object
highest_education     object
employed              object
occupation            object
permanent_state       object
gallery              float64
membership            object
status               float64
lastonline           float64
lastActiveDate        object
monthYear             object
age                    int64
dtype: object

,member_id,gender,income,marital_status,caste,sect,highest_education,employed,occupation,permanent_state,gallery,membership,status,lastonline,lastActiveDate,monthYear,age
0,230,Female,Rs. 10 - 12 Lakh,Never Married,Abdal,Shia,B.Ed,Civil Services,Civil Services (IAS/ IPS/ IRS/,Bihar,1.0,Premium,1.0,1.701499e+09,2023-12-02,2023 12 (Dec),23
1,270,Female,nan,Never Married,nan,Sunni,B.Ed,nan,nan,Delhi,1.0,Free,1.0,1.674931e+09,2023-01-29,2023 1 (Jan),35
2,282,Male,Rs. 7 - 10 Lakh,Never Married,Syed,Sunni,B.Pharm / B.Pharma.,Private Sector,Medical/ Healthcare Profession,Uttar Pradesh,1.0,Free,1.0,1.703057e+09,2023-12-20,2023 12 (Dec),32
3,325,Male,nan,Never Married,Sheikh or Shaikh,Sunni,B.Com.,nan,nan,Uttar Pradesh,1.0,Free,1.0,1.663007e+09,2022-09-13,2022 9 (Sep),33
4,329,Female,nan,Never Married,Syed,Sunni,B.A.,Not Working,Others,Bihar,0.0,Free,1.0,1.666550e+09,2022-10-24,2022 10 (Oct),27

### Equivalent code to fetch the data from the databas

In [216]:
from flask import Flask, jsonify
from flask_sqlalchemy import SQLAlchemy
import pandas as pd
from dateutil.relativedelta import relativedelta


# Replace 'your_postgresql_database_uri' with your actual PostgreSQL database URI
engine = create_engine(DATABASE_URI)

USER_CATEGORY_LIMITS = {
    'caste': 100,
    'employed': 20,
    'highest_education': 100,
    'income': 30,
    'occupation': 100,
    'permanent_country': 100,
    'permanent_state': 100,
    'sect': 20,
}

def get_reduced_users():
    # Load data from the PostgreSQL database
    
#     reduced_users = pd.DataFrame(reduced_users)
    for col, limit in USER_CATEGORY_LIMITS.items():
        allowed_vals = reduced_users[col].value_counts().nlargest(limit).index
        reduced_users.loc[~reduced_users[col].isin(allowed_vals), col] = 'Others'
        
    print('x')
    reduced_users['date_of_birth'] = (reduced_users['date_of_birth'] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')#     reduced_users['age'] = reduced_users.date_of_birth.apply(lambda x: relativedelta.relativedelta(today, datetime.date.fromtimestamp(x)).years)

    reduced_users['lastActiveDate'] = reduced_users.lastonline.apply(lambda x: datetime.date.fromtimestamp(x))
    reduced_users['monthYear'] = (
        reduced_users.lastonline.apply(lambda x: datetime.date.fromtimestamp(x).year).astype(str) +
        " " +
        reduced_users.lastonline.apply(lambda x: datetime.date.fromtimestamp(x).month).astype(str) +
        " (" +
        reduced_users.lastonline.apply(lambda x: calendar.month_abbr[datetime.date.fromtimestamp(x).month]).astype(str) +
        ")"
    )
#     today = datetime.date.today()
    
    today = (datetime.datetime.now().date())
    today_integer = int(today.strftime("%Y%m%d"))
    reduced_users['lastonline'] = pd.to_datetime(reduced_users['lastonline'])
    reduced_users['lastonline'] = (reduced_users['lastonline'] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')#     reduced_users['age'] = reduced_users.date_of_birth.apply(lambda x: relativedelta.relativedelta(today, datetime.date.fromtimestamp(x)).years)

    reduced_users['date_of_birth'] = pd.to_datetime(reduced_users['date_of_birth'])
    reduced_users['date_of_birth'] = (reduced_users['date_of_birth'] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')#     reduced_users['age'] = reduced_users.date_of_birth.apply(lambda x: relativedelta.relativedelta(today, datetime.date.fromtimestamp(x)).years)
    reduced_users['date_of_birth'] = reduced_users['date_of_birth'].astype(float)
    # Assuming 'date_of_birth' is a column in reduced_users with timestamps
    reduced_users['lastonline'] = reduced_users['lastonline'].astype(float)
    reduced_users['status'] = reduced_users['status'].astype(float)
    reduced_users['gallery'] = reduced_users['gallery'].astype(float)

    print(reduced_users.dtypes)
    reduced_users['age'] = reduced_users.date_of_birth.apply(lambda x: relativedelta(today, datetime.datetime.fromtimestamp(x).date()).years)
    reduced_users.drop(columns=['date_of_birth', 'permanent_country', 'permanent_city'], inplace=True)
    return reduced_users

# Call the function
result = get_reduced_users()
result.head()

KeyError: 'permanent_country'

In [237]:
def getReducedUsers():
    # reducedUsers = performWithFileLock(USERS_URI, lambda : pd.read_feather(USERS_URI))
    conn = get_db_connection()
    # Use pandas.read_sql to directly read the SQL query into a DataFrame
    cur = conn.cursor(cursor_factory=psycopg2.extras.RealDictCursor)  # Use RealDictCursor for a dictionary-like cursor
    cur.execute('SELECT * FROM userexport;')
    reducedUsers = cur.fetchall()
    reducedUsers = pd.DataFrame(reducedUsers)
    conn.close()
    print(reducedUsers)

    for col, limit in USER_CATEGORY_LIMITS.items():
        allowedVals = reducedUsers[col].value_counts().nlargest(limit).index
        reducedUsers.loc[~reducedUsers[col].isin(allowedVals), col] = 'Others'

    reducedUsers['lastActiveDate'] = pd.to_numeric(reducedUsers['lastonline'], errors='coerce').apply(lambda x: datetime.date.fromtimestamp(x) if not pd.isna(x) else None)
    print(reducedUsers['lastActiveDate'].head())
    reducedUsers['lastonline'] = pd.to_numeric(reducedUsers['lastonline'], errors='coerce')
    reducedUsers['lastonline'] = reducedUsers['lastonline'].apply(lambda x: datetime.date.fromtimestamp(x).year if pd.notnull(x) else None)
    # reducedUsers['lastActiveDate'] = reducedUsers.lastonline.apply(datetime.date.fromtimestamp)
    reducedUsers['monthYear'] = (
        reducedUsers.lastonline.apply(lambda x: datetime.date.fromtimestamp(x).year).astype(str) +
        " " +
        reducedUsers.lastonline.apply(lambda x: datetime.date.fromtimestamp(x).month).astype(str) +
        " (" +
        reducedUsers.lastonline.apply(lambda x: calendar.month_abbr[datetime.date.fromtimestamp(x).month]).astype(str) +
        ")"
    )
    today = datetime.date.today()
    # Ensure 'date_of_birth' is numeric and represents a Unix timestamp
    reducedUsers['date_of_birth'] = pd.to_numeric(reducedUsers['date_of_birth'], errors='coerce')

    # Calculate age
    reducedUsers['age'] = reducedUsers['date_of_birth'].apply(
        lambda x: relativedelta.relativedelta(today, datetime.date.fromtimestamp(x)).years if pd.notnull(x) else None
    )
    # reducedUsers['age'] = reducedUsers.date_of_birth.apply(lambda x: relativedelta.relativedelta(today, datetime.date.fromtimestamp(x)).years)
    # reducedUsers.drop(columns=['date_of_birth', 'permanent_country', 'permanent_city'], inplace=True)
    return reducedUsers

res = getReducedUsers()

   member_id  gender date_of_birth            income marital_status  \
0        230  Female    1971-07-25  Rs. 10 - 12 Lakh  Never Married
1        270  Female    1988-04-20              None  Never Married
2        282    Male    1991-09-01   Rs. 7 - 10 Lakh  Never Married
3        325    Male    1989-11-19              None  Never Married
4        329  Female    1996-12-22              None  Never Married

              caste   sect    highest_education        employed  \
0             Abdal   Shia                 B.Ed  Civil Services
1              None  Sunni                 B.Ed            None
2              Syed  Sunni  B.Pharm / B.Pharma.  Private Sector
3  Sheikh or Shaikh  Sunni               B.Com.            None
4              Syed  Sunni                 B.A.     Not Working

                        occupation permanent_country permanent_state  \
0  Civil Services (IAS/ IPS/ IRS/)             India           Bihar
1                             None             India           Delhi
2   Medical/ Healthcare Profession             India   Uttar Pradesh
3                             None             India   Uttar Pradesh
4                           Others             India           Bihar

  permanent_city  gallery membership  status  lastonline
0      Darbhanga        1    Premium       1           0
1      New Delhi        1       Free       1           0
2         Budaun        1       Free       1           0
3        Lucknow        1       Free       1           0
4           Gaya        0       Free       1           0
0    1970-01-01
1    1970-01-01
2    1970-01-01
3    1970-01-01
4    1970-01-01
Name: lastActiveDate, dtype: object

In [173]:
conn = psycopg2.connect(
            host='localhost',
            database='mdhammadakram',
            user='mdhammadakram',
            password='hellothere',
            port='5432')
cur = conn.cursor(cursor_factory=psycopg2.extras.RealDictCursor)  # Use RealDictCursor for a dictionary-like cursor
cur.execute('SELECT * FROM userexport;')
reduced_users = cur.fetchall()
reduced_users = pd.DataFrame(reduced_users)

In [175]:
reduced_users.columns

Index(['member_id', 'gender', 'date_of_birth', 'income', 'marital_status',
       'caste', 'sect', 'highest_education', 'employed', 'occupation',
       'permanent_country', 'permanent_state', 'permanent_city', 'gallery',
       'membership', 'status', 'lastonline'],
      dtype='object')

In [171]:
def buildNanMap():
    global reducedUsers

    return dict(zip(dummyCols, [[f'{y}_{x}' for x in reducedUsers[y].astype(str).unique() if (x.endswith('nan'))] for y in dummyCols]))

def getEncodedUsers():
    global dummyCols, nanMap, reducedUsers

    temp = pd.get_dummies(reducedUsers[['member_id', 'age', 'gender'] + dummyCols], columns=dummyCols, dummy_na=True)
    for col in dummyCols:
        nanCols = nanMap[col]
        idx = np.sum(temp[nanCols].values, axis=1) > 0
        temp.loc[idx, nanCols] = 0

    temp = temp.loc[:, ~temp.columns.duplicated()].copy()
    encodedUsersOneHot = {x: temp[temp.gender != x].drop(columns=['gender']).astype(pd.SparseDtype("int32", 0)).copy(deep=True) for x in ['Male', 'Female']}

    del temp
    gc.collect()
                
    return encodedUsersOneHot

reducedUsers = getReducedUsers()
gc.collect()

37612

In [129]:
def getInterest():
    global reducedUsers
    i_df = performWithFileLock(INTEREST_URI, lambda : pd.read_feather(INTEREST_URI))
    # i_df = i_df[i_df.sender_id.isin(reducedUsers.member_id) & i_df.receiver_id.isin(reducedUsers.member_id)]
    i_df = i_df[i_df.receiver_id.isin(reducedUsers.member_id)]
    return i_df

In [130]:
dummyCols = ['marital_status', 'permanent_state', 'highest_education',
             'occupation', 'caste', 'sect', 'employed', 'income']
nanMap = buildNanMap()
print('building encoded')
encodedUsersOneHot = getEncodedUsers()
gc.collect()
print('building interest')

interest_df = getInterest()

PROFILE_HALF_LIFE_WEEKS = 26
PROFILE_DECAY_CONSTANT = math.log(2) / PROFILE_HALF_LIFE_WEEKS
LATEST_ONLINE_DAY = datetime.date.fromtimestamp(reducedUsers['lastonline'].max())
gc.collect()
print('all done')

building encoded

/var/folders/fx/3nwbtnkj6d15hsllgtl4k1kh0000gn/T/ipykernel_13125/1392431533.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  temp.loc[idx, nanCols] = 0
/var/folders/fx/3nwbtnkj6d15hsllgtl4k1kh0000gn/T/ipykernel_13125/1392431533.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  temp.loc[idx, nanCols] = 0
/var/folders/fx/3nwbtnkj6d15hsllgtl4k1kh0000gn/T/ipykernel_13125/1392431533.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  temp.loc[idx, nanCols] = 0
/var/folders/fx/3nwbtnkj6d15hsllgtl4k1kh0000gn/T/ipykernel_13125/1392431533.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  temp.loc[idx, nanCols] = 0
/var/folders/fx/3nwbtnkj6d15hsllgtl4k1kh0000gn/T/ipykernel_13125/1392431533.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  temp.loc[idx, nanCols] = 0
/var/folders/fx/3nwbtnkj6d15hsllgtl4k1kh0000gn/T/ipykernel_13125/1392431533.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  temp.loc[idx, nanCols] = 0
/var/folders/fx/3nwbtnkj6d15hsllgtl4k1kh0000gn/T/ipykernel_13125/1392431533.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  temp.loc[idx, nanCols] = 0
/var/folders/fx/3nwbtnkj6d15hsllgtl4k1kh0000gn/T/ipykernel_13125/1392431533.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  temp.loc[idx, nanCols] = 0

building interest
all done

In [131]:
def getTimeDecay(lastActiveTimestamp: int):
    weeksSinceActive = (LATEST_ONLINE_DAY - datetime.date.fromtimestamp(lastActiveTimestamp)).days // 7
    decay = math.e**(-PROFILE_DECAY_CONSTANT*weeksSinceActive)
    return decay

In [132]:
@app.route("/past-interests/<member_id>", methods=['GET'])
def getPastInterests(member_id):
    try:
        member_id = int(member_id)
    except Exception as e:
        return f'Error: {e}', 400
    global reducedUsers, interest_df
    return reducedUsers[reducedUsers.member_id.isin(
        interest_df[interest_df.sender_id == member_id].receiver_id
        )].to_dict(orient='records')

In [133]:
def prepareUserFormData(member_id, userData):
    if userData is None:
        raise Exception('userData is None')

    userFormData = [
        'age', 'gender', 'membership', 'gallery', 'status',
        'marital_status', 'permanent_country', 'permanent_state', 'permanent_city', 'highest_education', 'occupation', 'employed', 'income', 'caste', 'sect'
    ]
    #todo replace age with dob
    userFormData = dict(zip(userFormData, userFormData))
    userFormData['status'] = 'approve_status'
    userFormData['gallery'] = 'gallery_display'
    userFormData['highest_education'] = 'education'
    userFormData['sect'] = 'sub_caste'
    userFormData['occupation'] = 'designation'
    userFormData['employed'] = 'occupation'

    missing_columns = []
    values = [member_id]
    for col, key in userFormData.items():
        try:
            if key in userData:
                val = userData[key]
                values.append(val if (val is not None) or (val != '') else np.nan)
            else:
                raise Exception('missing column')                
        except:
            missing_columns.append(col)

    if missing_columns:
        raise Exception(f'missing columns: {", ".join(missing_columns)}')

    df_dict = dict(zip(['member_id'] + list(userFormData.keys()), values))
    
    #switched 
    if df_dict['gender'] == '1':
        df_dict['gender'] = 'Male'
    elif df_dict['gender'] == '2':
        df_dict['gender'] = 'Female'
    else:
        genderVal = df_dict["gender"]
        raise Exception(f'invalid gender! : {genderVal}')

    int8s = ['gallery', 'status']
    int32s = ['age']
    int64s = ['lastonline']
    strings = ['gender', 'membership', 'marital_status', 'permanent_state', 'permanent_city', 'highest_education', 'occupation', 'employed', 'income', 'caste', 'sect']
    
    MAX_STRING_LENGTH_IN_DATA = 30
    for col in strings:
        df_dict[col] = df_dict[col][:MAX_STRING_LENGTH_IN_DATA] if (df_dict[col] is not None) and (df_dict[col] != '') else np.nan

    df = pd.DataFrame([df_dict])

    df['gallery'] = (df.gallery == 'yes').astype(int)
    df['status'] = (df.status == 'approved').astype(int)
    df['lastonline'] = int(datetime.datetime.now().timestamp())

    for cols, cols_type in zip([strings, int8s, int32s, int64s], ["category", np.int8, np.int32, np.int64]):
        for col in cols:
            df[col] = df[col].astype(cols_type)

    df.loc[:, 'permanent_state'] = df.apply(lambda row: 'Foreign' if row.permanent_country != 'India' else row.permanent_state, axis=1)
    
    df['lastActiveDate'] = df.lastonline.apply(datetime.date.fromtimestamp)
    df['monthYear'] = (
        df.lastonline.apply(lambda x: datetime.date.fromtimestamp(x).year).astype(str) +
        " " +
        df.lastonline.apply(lambda x: datetime.date.fromtimestamp(x).month).astype(str) +
        " (" +
        df.lastonline.apply(lambda x: calendar.month_abbr[datetime.date.fromtimestamp(x).month]).astype(str) +
        ")"
    )

    df['date_of_birth'] = df['age'].apply(lambda x: (datetime.datetime.now() - relativedelta.relativedelta(years=x)).timestamp())

    return df.drop(columns=['permanent_country', 'age'])

In [134]:
@app.route("/get-user-info/<member_id>", methods=['GET'])
@topLevelCatcher
def getUserInfo(member_id):
    global reducedUsers
    unnecessaryCols = ['monthYear', 'lastonline', 'lastActiveDate']
    try:
        member_id = int(member_id)
        results = reducedUsers[reducedUsers.member_id == int(member_id)].drop(columns=unnecessaryCols).to_dict(orient='records')
        if results:
            return results[0]
        else:
            return "Member id not in data!"
    except ValueError as verr:
        return "Exception Encountered: supplied 'member_id' is not an integer!", 400
    except Exception as exc:
        return "Invalid input!", 400

In [135]:
def split_dataframe(df, chunk_size): 
    num_chunks = math.ceil(df.shape[0] / chunk_size)
    for i in range(num_chunks):
        yield df[i*chunk_size:(i+1)*chunk_size]

In [136]:
def createRecommendationResults(member_id, senderIsFemme, offset, count, withInfo, timeMix, premiumMix, galleryMix, errors = []):
    timer = Timer()
    timer.start()
    global reducedUsers, encodedUsersOneHot, interest_df, dummyCols

    senderGender = ('Female' if senderIsFemme else 'Male')

    oneHotTieredUsers = encodedUsersOneHot[senderGender]
    match_df = oneHotTieredUsers[oneHotTieredUsers.member_id.isin(
        interest_df[interest_df.sender_id == member_id].receiver_id)]
    preferences = match_df.mean(axis=0)

    values = []
    cols = []
    for category in [x for x in dummyCols]:
        idx = [x for x in preferences.index if x.startswith(category)]
        weight = 5**(preferences[idx].max())
        for tier in idx:
            values.append(weight * preferences[tier])
            cols.append(tier)

    vector = pd.Series(data=values, index=cols)
    ageLowerBound = match_df.age.quantile(
        q=0.5) if senderIsFemme else match_df.age.quantile(0.3)
    ageUpperBound = match_df.age.quantile(
        q=0.8) if senderIsFemme else match_df.age.quantile(0.7)
    
    timer.check('Gathering Preferences')

    # scores = pd.concat([(u_df @ vector) for u_df in split_dataframe(oneHotTieredUsers[vector.index], 10000)]).reset_index(drop=True)
    #performing the score calculation in chunks, to prevent out of memory
    chunk_size = 50000
    total_rows = oneHotTieredUsers.shape[0]
    results = []
    for i in range(0, total_rows, chunk_size):
        chunk = oneHotTieredUsers.iloc[i:i+chunk_size]        
        dot_product_chunk = chunk[vector.index].dot(vector)
        results.append(dot_product_chunk)
    # Concatenate the results into a single DataFrame
    scores = pd.concat(results)

    scores += oneHotTieredUsers.age.between(
        ageLowerBound, ageUpperBound).astype(float) * 2


    timer.check('Calculating base score')

    scoredUsers = pd.DataFrame(
            {'member_id': oneHotTieredUsers.member_id, 'score': scores}).sparse.to_dense()

    predictions = pd.merge(
        scoredUsers[['member_id', 'score']],
        reducedUsers, on='member_id'
    )

    timer.check('Merging dataframes')
    
    predictions['timeDecay'] = predictions.lastonline.apply(getTimeDecay)
    timeMixingFactor = timeMix
    predictions['score'] *= (1 - timeMixingFactor) + timeMixingFactor * predictions['timeDecay']

    timer.check('Applying time decay')

    predictions = predictions.nlargest(
        offset + count, columns='score'
    ).tail(count)

    premiumMemberships = predictions.membership == 'Premium'
    yesGallery = predictions.gallery == 1
    #reordering final predictions
    
    predictions.score *= (1 - premiumMix) + premiumMemberships * premiumMix
    predictions.score *= (1 - galleryMix) + yesGallery * galleryMix

    predictions.insert(1, 'already_liked', predictions.member_id.isin(match_df.member_id))
    percentageRecommendationsPremium = round(100 * premiumMemberships.sum() / predictions.shape[0])
    percentageRecommendationsGallery = round(100 * yesGallery.sum() / predictions.shape[0])
    
    predictions.loc[:, 'score'] = (predictions['score']/predictions['score'].max()).astype(float).round(2).fillna(0)
    predictions.sort_values(by='score', inplace=True, ascending=False)
    timer.check('Calculating final metrics')
    # timer.log()
    timer.end()

    if withInfo:
        for col in predictions:
            if predictions[col].dtype.name == 'category':
                predictions[col] = predictions[col].cat.add_categories([0])
        predictions.fillna(0, inplace=True)
    return {
        'userInterestCount': match_df.shape[0],
        'percentageResultsPremium' : percentageRecommendationsPremium,
        'percentageResultsHaveGallery' : percentageRecommendationsGallery,
        'userRecommendations': predictions[predictions.columns if withInfo else ['member_id', 'score']].to_dict(orient='records')
    }

In [137]:
@app.route("/recommendation", methods=['POST'])
@topLevelCatcher
def recommendation():
    global logger
    errors = []
    
    member_id = None
    try:
        member_id = int(request.form['member_id'])
    except ValueError as verr:
        logger.error("Recommendation: Exception Encountered: supplied 'member_id' is not an integer!");
        return "Recommendation: Exception Encountered: supplied 'member_id' is not an integer!", 400
    except Exception as exc:
        logger.error("Recommendation: Invalid input!")
        return "Recommendation: Invalid input!", 400

    formUserData = json.loads(request.form['userData'])
    if 'gender' not in formUserData:
        logger.error(f'invalid userData: {formUserData}')
        return f'Input userData has no key gender', 400
    
    formGender = str(formUserData['gender']).lower()
    senderIsFemme = False
    if formGender in ['1', 'male']:
        senderIsFemme = False
    elif formGender in ['2', 'female']:
        senderIsFemme = True
 
    controlParams = dict(
        offset = 0,
        count = 50,
        withInfo = False,
        timeMix = 0.25,
        premiumMix = 0,
        galleryMix = 0
    )
    for key, val in controlParams.items():
        try:
            controlParams[key] = type(val)(request.form[key])
        except:
            errors.append(f'Recommendation: Error: invalid {key} using default values {val}')

    gc.collect()
    activateUser(member_id=member_id)
    resultResponse = createRecommendationResults(member_id=member_id, senderIsFemme=senderIsFemme, errors=errors, **controlParams)
    #logger.info(str(resultResponse))
    return resultResponse

In [138]:
TESTING_WEBSITE_PATH = 'nf-recs-svelte/dist/'

@app.route('/test', methods=['GET'])
def testingWebsite():
    return send_file(f'{TESTING_WEBSITE_PATH}index.html')
    #print('maaz')

In [41]:
@app.route('/assets/<path:path>')
def send_asset(path):
    return send_from_directory(f'{TESTING_WEBSITE_PATH}/assets', path)

In [42]:
@app.route('/', methods=['GET'])
@topLevelCatcher
def home():
    return """<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><title>nf!</title><meta name="viewport" content="width=device-width,initial-scale=1" /><meta name="description" content="" /></head><body><h1>nf-recommendation api!</h1></body></html>"""